* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Niconne", cursive;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

/* Global */
.container {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.page-title {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  background-color:#35424a;
  color:rgb(255, 115, 0);
  width: 100%;
  margin: 10px 0;
  padding: 15px 0;
  border-top: 3px solid rgb(255, 115, 0);
  border-bottom: 3px solid rgb(255, 115, 0);

}

.button_1 {
  height: 38px;
  background: #ff7300;
  border: 0;
  padding: 0 20px;
  color: white;
  border-radius: 5px;
}

/* Header */
.header-container {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  background: #35424a;
  border-bottom: #ff7300 2px solid;
}

.business-name {
  color: #ff7300;
  font-family: "Niconne", cursive;
  font-size: 60px;
}

.header-container,
.business-name .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

li {
  list-style-type: none;
  margin-left: 10px;
}

header a:hover {
  color: #ff7300;
  transition-duration: 0.2s;
}

header .highlight,
header #current a {
  color: #ff7300;
  font-weight: bold;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* Showcase */
#showcase {
  min-height: 440px;
  background: url("../img/showcase-image-3.jpg") no-repeat center;
  background-size: 100% auto;
  text-align: center;
  color: #ffffff;
}

#showcase h1 {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 700;
}

#showcase p {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
}

/* Social Media */
.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-youtube {
  color: white;
  margin: 0 0 15px 60px;
  font-size: 25px;
}

#social-media .container-social {
  text-align: center;
}

.container-social p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.fa-facebook:hover {
  color: rgb(66 103 178);
}

.fa-instagram:hover {
  opacity: 0.8;
  border-radius: 6px;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );

}

.fa-youtube:hover {
  color: rgb(255, 0, 0);
}

#social-media {
  padding: 20px 40px 20px 40px;
  color: #ffffff;
  background: #35424a;
}

/* Home Page Boxes */
.box-container {
  display: flex;
  justify-content: center;
  text-align: center;
  column-gap: 20px;
}

.box img {
  max-width: 280px;
}

.box {
  margin: 20px 0;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
  margin-right: 25px;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

/* About */
.about-todd {
  font-family: "Roboto", sans-serif;
  width: 225px;
  margin-left: 15px;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid rgb(255, 115, 0);
}

.about-delmar{
  font-family: "Roboto", sans-serif;
  width: 225px;
  margin-left: 15px;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid rgb(255, 115, 0);
}

.about-text {
  margin: 0 5px;
  margin-top: 10px;
  width: 95%;
}

.what-we-do {
  width: 95%;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin: 10px 0;
  border-top: 3px solid rgb(255, 115, 0);
  border-bottom: 3px solid rgb(255, 115, 0);
}

/* Contact */
.form-container {
  background: #35424acc;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  padding: 20px 45px 45px 45px;
  border-radius: 10px;
  color: rgb(255, 241, 204);
  box-shadow: 5px 10px 20px gray;
}

.form-label {
  color: rgb(255, 241, 204);
  font-size: 18px;
  margin-top: 15px;
}

.form-container button {
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
}

textarea.form-control {
  width: 100%;
  padding-bottom: 150px;
}

input.form-control,
.form-label {
  width: 100%;
  padding: 5px 0;
  margin-bottom: 15px;
}

/* Thank you page */
.thankyou {
  font-size: 20px;
  text-align: center;
  background: #cccccc;
  color: black;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 350px 0;
  z-index: 100;
  opacity: 0.8;
}

/* Reviews */
main h1 {
  text-align: center;
}

.review-header {
  text-align: center;
}

.container-reviews {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
}

.reviewer-info {
  display: flex;
  align-items: center;
}

.review img {
  border-radius: 50%;
  border: 3px solid #ff7300;
}

.review {
  background-color: #35424acc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 10px 20px gray;
}

.review h3 {
  font-size: 20px;
  color: #dde7ec;
  margin: 0 0 0 15px;
}

#title-description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  margin: 0 0 0 15px;
}

.review-text {
  font-size: 20px;
  color: rgb(255, 241, 204);
}

.review:nth-of-type(5) {
  grid-column: 2 / 4;
}

/* Photo Gallery */
.gallery-container {
  display: grid;
  justify-items: center;
}

#featured {
  max-width: 640px;
  height: 640px;
  cursor: pointer;
  border: 2px solid rgb(255, 115, 0);
}

.thumbnail {
  object-fit: cover;
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 2px solid rgb(255, 115, 0);
}

.thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

#slide-wrapper {
  max-width: 500px;
  display: flex;
  min-height: 100px;
  align-items: center;
}

#slider {
  width: 440px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  opacity: 0.5;
}

/* Footer */
footer {
  padding: 20px;
  margin-top: 40px;
  color: white;
  background-color: rgb(255, 115, 0);
  text-align: center;
}

/* media queries */

/* Photo-Gallery */
@media (min-width: 360px) and (max-width: 539px) {

  .gallery-container h2 {
    font-size: 30px;
  }

  #featured {
    max-width: 320px;
    height: 320px;
  }
  .thumbnail {
    object-fit: cover;
    max-width: 100px;
    max-height: 70px;
  }

  #slider {
    width: 270px;
  }
}
/* Surface Pro 7 */
@media (min-width: 912px) and (max-width: 912px) {
  #featured {
    max-width: 864px;
    height: 864px;
  }
  .thumbnail {
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
  }

  #slider {
    width: 470px;
  }
}

  /* Surface Duo */
@media (min-width: 540px) and (max-width: 540px){
  #featured {
    max-width: 525px;
    height: 525px;
  }
  .thumbnail {
    object-fit: cover;
    max-width: 80px;
    max-height: 80px;
  }

  #slider {
    width: 470px;
  }
}

  /* Galaxy Fold */
@media (min-width: 280px) and (max-width: 359px) {
  .gallery-container h2 {
    font-size: 25px;
  }

  #featured {
    max-width: 250px;
    height: 250px;
  }
  .thumbnail {
    object-fit: cover;
    max-width: 50px;
    max-height: 50px;
  }

  #slider {
    width: 200px;
  }
}

/* Nest */
@media (min-width: 1024px) and (max-width: 1280px) {
  #featured {
    max-width: 400px;
    height: 400px;
  }
  .thumbnail {
    object-fit: cover;
    max-width: 80px;
    max-height: 80px;
  }

  #slider {
    width: 400px;
  }
}

/* Hamburger Menu */
@media (min-width: 360px) and (max-width: 539px) {
.navbar {
  margin-left: 100px;
}

}

@media (max-width: 968px) {
  .hamburger {
    display: block;
    margin-left: 80px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #35424a;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    padding-bottom: 20px;
  }

  .nav-item {
    margin: 5px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/* Galaxy Fold */
@media (min-width: 280px) and (max-width: 359px) {
  .navbar {
    margin-left: 20px;
  }

  #featured {
    width: 280px;
  }
  .container-social i {
    margin: 11px;
  }

  .hamburger {
    margin-left: 30px;
  }

  .business-name {
    font-size: 30px;
  }

  #showcase h1 {
    font-size: 18px;
  }

  #showcase p {
    font-size: 15px;
    margin: 10px 25px 0 25px;
  }

  #showcase {
    background-size: auto 100%;
  }

  .box-container {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1px;
  }

  .thankyou {
    padding: 360px 0;
  }

  .review:nth-of-type(5) {
    grid-column: 1;
  }

  .container-reviews {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

/* Other Smart Phones*/
@media (min-width: 360px) and (max-width: 539px) {
  header nav,
  header nav li,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    display: block;
    text-align: center;
    width: 100%;
  }

  .hamburger {
    margin-left: 30px;
  }

  .business-name {
    font-size: 30px;
  }

  .container-social i {
    margin: 21px;
  }

  #showcase h1 {
    font-size: 24px;
  }

  #showcase p {
    font-size: 15px;
    margin: 10px 35px 0 35px;
  }

  #showcase {
    background-size: auto 100%;
  }

  .box-container {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1px;
  }

  .thankyou {
    padding: 360px 0;
  }

  .review:nth-of-type(5) {
    grid-column: 1;
  }

  .container-reviews {
    grid-template-columns: 1fr;
    width: 100%;
  }

}

/* Surface Duo */
@media (min-width: 540px) and (max-width: 540px) {
  #showcase h1 {
    font-size: 20px;
  }

  #showcase p {
    font-size: 15px;
    margin: 10px 50px 0 50px;
  }

  .business-name {
    font-size: 40px;
  }

  #showcase {
    min-height: 310px;
  }

  #showcase h1 {
    font-size: 35px;
  }

  #showcase p {
    padding-bottom: 72px;
    font-size: 16px;
    margin: 10px 25px 0 25px;
  }

  .business-name {
    font-size: 40px;
  }

  .box-container {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1px;
  }

  .review:nth-of-type(5) {
    grid-column: 1;
  }

  .container-reviews {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

/* Surface Pro 7 */
@media (min-width: 912px) and (max-width: 912px) {
  #showcase h1 {
    font-size: 20px;
  }

  #showcase p {
    font-size: 15px;
    margin: 10px 50px 0 50px;
  }

  .business-name {
    font-size: 40px;
  }

  #showcase {
    min-height: 310px;
  }

  #showcase h1 {
    font-size: 50px;
  }

  #showcase p {
    padding-bottom: 72px;
    font-size: 16px;
    margin: 10px 25px 0 25px;
    font-weight: 400;
  }

  .business-name {
    font-size: 40px;
  }

  .box-container {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1px;
  }

  .review:nth-of-type(5) {
    grid-column: 1;
  }

  .container-reviews {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

/* Other Tablets */
@media (min-width: 541px) and (max-width: 911px) {
  .business-name {
    font-size: 40px;
  }

  #showcase {
    min-height: 310px;
  }

  #showcase h1 {
    font-size: 35px;
  }

  #showcase p {
    padding-bottom: 72px;
    font-size: 16px;
    margin: 10px 150px 0 150px;
  }

  .business-name {
    font-size: 40px;
  }

  .box-container {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1px;
  }

  .review:nth-of-type(5) {
    grid-column: 1;
  }

  .container-reviews {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@media (min-width: 912px) and (max-width: 1024px) {
  
  .gallery-container h2 {
    font-size: 30px;
  }

  #featured {
    max-width: 450px;
    height: 450px;
  }
  .thumbnail {
    object-fit: cover;
    max-width: 80px;
    max-height: 80px;
  }

  #slider {
    width: 400px;
  }

  .business-name {
    font-size: 40px;
  }

  #showcase {
    min-height: 310px;
  }

  #showcase h1 {
    font-size: 40px;
  }

  #showcase p {
    padding-bottom: 72px;
    font-size: 16px;
    margin: 10px 10px 0 10px;
  }

  .business-name {
    font-size: 40px;
  }

  .box-container {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 1px;
  }

  .review:nth-of-type(5) {
    grid-column: 1;
  }

  .container-reviews {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
